.Sidebar {
  border-right: 1px solid lightgray;
  width: 25%;
}

.logo-twitter {
  color: #01b9f5;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .Sidebar {
    display: none;
  }
}
