.Footer {
  border-top: 1px solid lightgray;
  background-color: white;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
}

.Footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 25px;
  list-style-type: none;
}

.home,
.search,
.notification,
.messages {
  color: #9ca7ab;
  width: 30px;
  height: 30px;
  padding: 1px;
}

.home:active,
.search:active,
.notification:active,
.messages:active {
  background-color: #01b8f530;
  border-radius: 100px;
}

@media screen and (min-width: 800px) {
  .Footer {
    display: none;
  }
}
